body {
    font-family:  'Gilroy-Regular';
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    background-color: #ffffff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select:focus, input[type="text"]:focus {
    outline: none;
    border-color: #ff9dbb;
    box-shadow: 0 0 5px #ff9dbb;
}

input[type="submit"] {
    background-color:  #ff9dbb;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

input[type="submit"]:hover {
    background-color:  #ff9dbb;
}

