.second .content2{
    position: relative;
    width: calc(100%-11%);
    align-items: center;
    align-content: center;
    align-self: center;
    
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
    margin-bottom: 2%;
}
.second .radio-input2 input[type="radio"] {
    display: none; /* Pour cacher les cases à cocher par défaut */
    
  }

  .second .radio-input1 input[type="radio"] {
    display: none; /* Pour cacher les cases à cocher par défaut */
    
  }
  .second .SELECTION {
  
  align-items: center;
  
  
  }
  
  .second .radio-input {
    max-width: 90%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background-color: #E0E8F5;
 
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    border: 2px solid  #E0E8F5;
    margin-left: 5%;
  
  }
  
  .second .radio-input2 {
    max-width: 25%;
    height: 1%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background-color: #E0E8F5;
    color: #000000;
    width: var(--container_width);
    overflow: hidden;
    border: 2px solid  #E0E8F5;
    margin: 3%;
    margin-left:38%
  
  }
  
  .second .mini_cont{
    max-width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    background: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid  #E0E8F5;
    margin-top: 4%;
  }
  .second .mini_cont2{
    max-width: 90%;
    width: 100%;
 margin-left: 5%;
    background: #ffffff;
    border-radius: 0.5rem;
   
  }
  .second .radio-input label {
    width: 100%;
    padding:1.5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: 0.7px;
    font-size: 16px;
    text-align: center;
  }
  .second .radio-input2 label {
    width: 100%;
    padding:10%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    letter-spacing: 0.7px;
    font-size: 20px;
    text-align: center;
  }
  
  .second .selection {
    display: none;
    position: absolute;
    height: 100%;
    
    width: calc(var(--container_width) / 2);
    z-index: 0;
    left: 0;
    top: 0;
    transition: .15s;
  }
  .second .radio-input label:has(input:checked) {
    color:white;  background-color: #5963A3;
  
    display: inline-block;
    text-align: center;
  }
  .second .radio-input2 label:has(input:checked) {
    color:white;  background-color: #5963A3;
  
    display: inline-block;
    text-align: center;
  }
  
  
  .second .formulaire{
  padding-top: 10%;
  justify-content: center;
  
  }
  
  .btn1 {
    display: inline-block;
    margin:1%;
    margin-left: 25%;
    font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
    padding: 0.625rem 1.25rem; /* 10px 20px / 16px */
    border: 0.125rem solid #4CA950; /* 2px solid #e14c31 / 16px */
    background-color:  #4CA950; 
    font-size: 1rem;   /* 20px / 16px */
    font-weight: bold;
    color: #031273;
    text-transform: uppercase;
    letter-spacing: 0.0625rem; /* 0.1em / 16px */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 0.625rem; /* 10px / 16px */
    margin-top: 0.67%;
    margin-bottom: 6%;
    transition: all 0.3s ease-in-out;
  }
  
  .btn1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #fff;
    opacity: 0.2;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
  }
  
  .btn1:hover {
    background-color: #fff;
    color:  #4CA950; 
    box-shadow: #4CA950; 
  }
  
  .btn1:hover::before {
    width: 200%;
    height: 200%;
  }
  



  .btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
  }
  
  .btn-color-mode-switch > label {
    margin: 0px;
    width: 140px;
    height: 40px;
    background-color: #fcce8a;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    display: block;
  }
  
  .btn-color-mode-switch > label:before {
    content: attr(data-on);
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: #222;
  }
  
  .btn-color-mode-switch > label:after {
    content: attr(data-off);
    width: 70px;
    height: 25px;
    background: #fff;
    border-radius: 26px;
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 6px -2px #111;
    padding: 5px 0px;
    color: #222;
    font-weight: 600;
  }
  
  .btn-color-mode-switch input[type="radio"] {
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
  }
  
  .btn-color-mode-switch input[type="radio"]:checked + label {
    background-color: #fcce8a;
  }
  
  .btn-color-mode-switch input[type="radio"]:checked + label:after {
    content: attr(data-on);
    left: 68px;
  }
  
  .btn-color-mode-switch input[type="radio"]:checked + label:before {
    content: attr(data-off);
    right: auto;
    left: 20px;
  }
  