.bilan-form{ max-width: 100%;
    width: 100%;
    background: #ffffff;
    color:  #031273;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px #a3c0d2;
    border: 1px solid #E0E8F5;
    overflow: hidden;
    margin-top: 5%;
  padding:0;
  margin-bottom: 5%;
    font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';  }


    
    .bilan-form  .title{
        padding: 0.1%;
        text-align: center;
        background: #031273;
    
        font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
      }
      .bilan-form  .title p{
      font-size:30px ;
      font-weight: 700;
      color: #E0E8F5;
      font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
    
    }
    
   
    .bilan-form  .contnuee {
        display: flex;
        flex-direction: column; /* Arrange elements vertically */
        align-items: center;
        margin: 5%;
      }



      .bilan-form .error-container {
    display: flex; /* Utiliser un conteneur flex pour aligner les éléments horizontalement */
    align-items: center; /* Aligner les éléments sur l'axe vertical */
    color: red; /* Couleur rouge pour le texte */
    font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
    margin-top: 4%;
    margin-bottom: 0;
  }
  
  .bilan-form .error-icon {
    margin-right: 5px; /* Marge à droite pour séparer l'icône du message d'erreur */
  }
  

    .bilan-form  .date-container {
        display: flex;
        align-items: center;
        margin-bottom: 10%; /* Add spacing between dates and button */
      }
      
      
    .bilan-form  .date-container label,
      
    .bilan-form  .date-container input[type="date"] {
        margin-right: 30px; /* Add spacing between label and input */
      }

      .bilan-form input[type="date"]::-webkit-calendar-picker-indicator  {
       
        cursor: pointer;
        padding: 0;
        margin: 0;
      }

      .bilan-form input[type="date"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
      }
      
      /* Style the arrow button */
     
      
      /* Style placeholder text */
      .bilan-form input[type="date"]::placeholder {
        color: #999;
      }
      
      /* Style when the input is focused */
      .bilan-form input[type="date"]:focus {
        border-color: #031273; /* Change color as needed */
        box-shadow: 0 0 5px  #031273; /* Change shadow as needed */
      }
      


      
    .bilan-form .btn {
        --color:   #4CA950; 
        position: relative;
        display: flex;
        z-index: 1;
        justify-content: center;
        align-items: center;
        transition: all .5s;
        border: none;
        background-color: transparent;
      }
 
      .bilan-form .btn div {
        letter-spacing: 2px;
        font-weight: bold;
        background: var(--color);
        border-radius: 2rem;
        color: white;
        z-index: 1;
        font-size: small;
        padding: 0.7rem;
      }
      
      .bilan-form .btn::before {
        content: '';
        z-index:0;
        background-color: var(--color);
        border: 2px solid white;
        border-radius: 2rem;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: rotate(10deg);
        transition: .5s;
        opacity: 0.2;
      }
      
      .bilan-form .btn:hover {
        cursor: pointer;
        filter: brightness(1.2);
        transform: scale(1.1);
      }
      
      .bilan-form .btn:hover::before {
        transform: rotate(0deg);
        opacity: 1;
      }
      
      .bilan-form .btn svg {
        transform: translateX(-200%);
        transition: .5s;
        width: 0;
        opacity: 0;
      }
      
      .bilan-form .btn:hover svg {
        width: 25px;
        transform: translateX(0%);
        opacity: 1;
      }
      
      .bilan-form .btn:active {
        filter: brightness(1.4);
      }
      