@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');



.scope{
  width: 47%; /* par exemple, vous pouvez ajuster cette valeur selon vos besoins */
  height: 17rem;
  flex: 1;
  padding-bottom: -5%;
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #a3c0d2;
  overflow: hidden;
margin: 2%;
  border: 2px solid #1a1b1a29;
}