.page13 {
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 46.3px;
  padding-top: 100px;
  box-sizing: border-box;
  width: 100%;
}
.group-1000000874 {
  margin: 0 143px 42px 93px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.n1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 100px;
  width: 120px;
}
.n2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 100px;
  width: 120px;
  align-items: center;
}
.page13 .ligne2 {
  background: #ffffff;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 26.8px 15px 21px;
  width: 1200px;
  box-sizing: border-box;
  margin-left: 20px;
  height: 60px;
}
.page13 .frame-427318970 {
  background: #ffffff;
  position: relative;
  width: 270px;
  height: 30px;
  margin-left: 20px;
}
.aaaaaa {
  position: absolute;
  left: 88px;
  bottom: -9.5px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 2.4;
  color: rgba(0, 0, 0, 0.35);
}
.frame-4273189701 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 0 14px 0;
  width: 381px;
  height: fit-content;
  box-sizing: border-box;
}
page13 .email {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.36);
}
.admin {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.39);
}
.ic-person-48-px {
  margin: 5.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23.3px;
  height: 23.3px;
  box-sizing: border-box;
}
.ic-forward-48-px {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.page13 .ligne3 {
  background: #ffffff;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 26.8px 15px 21px;
  width: 1200px;
  box-sizing: border-box;
  margin-left: 20px;
  height: 60px;
}
.frame-4273189703 {
  background: #ffffff;
  position: relative;
  width: 270px;
  height: 35px;
}
.aaaaaa-4 {
  position: absolute;
  left: 88px;
  bottom: -9.5px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 2.4;
  color: rgba(0, 0, 0, 0.35);
}
.frame-4273189705 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 0 14px 0;
  width: 381px;
  height: fit-content;
  box-sizing: border-box;
}
.email-6 {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.36);
}
.frame-4273189707 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 13px 11px 12px 0;
  width: 190px;
  height: fit-content;
  box-sizing: border-box;
}
.admin-8 {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.39);
}
.ic-person-48-px-9 {
  margin: 5.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23.3px;
  height: 23.3px;
  box-sizing: border-box;
}
.ic-forward-48-px-10 {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.page13 .ligne4 {
  background: #ffffff;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 26.8px 15px 21px;
  width: 1200px;
  box-sizing: border-box;
  margin-left: 20px;
  height: 60px;
}
.frame-42731897012 {
  background: #ffffff;
  position: relative;
  width: 270px;
  height: 35px;
}
.aaaaaa-13 {
  position: absolute;
  left: 88px;
  bottom: -9.5px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 2.4;
  color: rgba(0, 0, 0, 0.35);
}
.frame-42731897014 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 0 14px 0;
  width: 381px;
  height: fit-content;
  box-sizing: border-box;
}
.email-15 {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.36);
}
.frame-42731897016 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 13px 11px 12px 0;
  width: 190px;
  height: fit-content;
  box-sizing: border-box;
}
.admin-17 {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.39);
}
.ic-person-48-px-18 {
  margin: 5.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23.3px;
  height: 23.3px;
  box-sizing: border-box;
}
.ic-forward-48-px-19 {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.page13 .ligne1 {
  border-radius: 10px 10px 0 0;
  background: #e0e8f5;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 17px 0 18px 0; */
  padding: 15px 26.8px 15px 21px;
  box-sizing: border-box;
  width: 1200px;
  height: 60px;
  align-items: center;
  margin-left: 20px;
}
/* .frame-42731897020 {
      position: relative;
      width: 53px;
      height: 30px;
    } */
.page13 .email-1 {
  overflow-wrap: break-word;
  padding: 11px 60px 14px 0;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  width: 381px;
  height: 50px;
  text-align: center;
}
.page13 .votre-role {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  width: 300px;
  height: 25px;
}
.page13 .nom {
  margin: 0.5px 14.5px 0.5px 1px;
  display: inline-block;
  /* width: 120px; */
  width: 270px;
  height: 30px;
  overflow-wrap: break-word;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  text-align: center;
}
.espaces-travail13 {
  border-radius: 10px;
  background: #ffffff;
  position: relative;
  margin-bottom: 25px;
  padding: 10px 50px 30px 50px;
  box-sizing: border-box;
  width: 1200px;
  height: 128px;
  margin-left: 20px;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  box-sizing: border-box;
}
.page13 .mes-espaces-de-travail {
  overflow-wrap: break-word;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 500;
  font-size: 40px;
  color: #031273;
}
.frame-42731898322 {
  position: absolute;
  left: 50px;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.inv {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #000000;
}
.inviter {
  overflow-wrap: break-word;
  font-family: "ProximaNova", "Roboto Condensed";
  font-weight: 200;
  font-size: 20px;
  line-height: 1.25;
  color: #000000;
  border-radius: 10px;
  background: #4ca950;
  margin-left: 860px;
  /* border-color: #4ca950; */
  border: 1px solid #4ca950;
  padding: 6.3px 0px 6.3px 0px;
  box-sizing: border-box;
  width: 220px;
  height: 45px;
}
.page13 .gestion-de-comptes {
  overflow-wrap: break-word;
  font-family: "ProximaNova", "Roboto Condensed";
  font-weight: 200;
  font-size: 24px;
  line-height: 1.25;
  color: #000000;
}
.page13 .top-bar {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 81px 22px 36.3px;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.disque {
  border-radius: 100px;
  background: #031273;
  width: 40px;
  height: 40px;
}
.combo-shape {
  margin: 7px 0 3px 0;
  width: 31px;
  height: 30px;
}
.ic-dehaze-48-px {
  margin: 10.2px 0 9.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 33.3px;
  height: 20px;
  box-sizing: border-box;
}
.icon-menu {
  font-size: 40px !important;
  color: #031273;
}
.icon-lang {
  font-size: 30px !important;
  color: #4ca950;
  justify-content: center;
}
.vector-23 {
  width: 23.3px;
  height: 23.3px;
}
.vector-24 {
  width: 20px;
  height: 20px;
}
.vector-25 {
  width: 23.3px;
  height: 23.3px;
}
.vector-26 {
  width: 20px;
  height: 20px;
}
.vector-27 {
  width: 23.3px;
  height: 23.3px;
}
.vector-28 {
  width: 20px;
  height: 20px;
}
.vector-29 {
  width: 33.3px;
  height: 20px;
}
.inviter:active {
  transform: scale(0.95);
}

.inviter:focus {
  outline: none;
}
.page13 .top-bar {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 81px 22px 36.3px;
  width: 1300px;
  box-sizing: border-box;
  height: 70px;
}
.page13 .container-4 {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  box-sizing: border-box;
}
.page13 .rectangle-4137 {
  border-radius: 50px;
  background: #031273;
  width: 30px;
  height: 30px;
}
.page13 .menu {
  font-size: 40px;
  margin-top: 0px;
  color: #031273;
}
.page14 .container-4 {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  box-sizing: border-box;
}
.page13 .earth {
  font-size: 25px;
  margin-top: 2px;
  color: #4ca950;
}
.page13 .not {
  font-size: 25px;
  margin-top: 2px;
}
.page13 .fleche {
  font-size: 25px;
  margin-top: 5px;
}
.page13 .person {
  font-size: 25px;
  margin-top: 5px;
  margin-right: 10px;
}
