
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/calcpage.css">
    <title>Form</title>
</head>
<body>

<form action="/calc/bilan" method="POST">

  
    <label for="Secteur1">Secteur1</label>
    <select id="Secteur1" name="secteur1"></select><br>
    
    <label for="Secteur2">Secteur2</label>
    <select id="Secteur2" name="secteur2"></select><br>

    <label for="Secteur3">Secteur3</label>
    <select id="Secteur3" name="secteur3"></select><br>

    <label for="Secteur4">Secteur4</label>
    <select id="Secteur4" name="secteur4"></select><br>

    <label for="Secteur5">Secteur5</label>
    <select id="Secteur5" name="secteur5"></select><br>
       
    <label for="Nom">Nom base français:</label>
    <select id="Nom" name="Nom"></select><br>
    
    <label for="typeLigne">Type Ligne:</label>
    <select id="typeLigne" name="typeLigne"></select><br>

    <label for="typePoste">Type poste:</label>
    <select id="type" name="typePoste"></select><br>

    <label for="quantite">Quantité:</label>
    <input type="text" id="quantite" name="quantite"><br>

    <label for="unite">Unite:</label>
    <select id="unite" name="unite"></select><br>

    <label for="NomAttribut">Nom attribut:</label>
    <select id="NomAttribut" name="NomAttribut"></select><br>

    <label for="NomFrontiere">Nom frontiere:</label>
    <select id="NomFrontiere" name="NomFrontiere"></select><br>

    <label for="contributeur">Contributeur:</label>
    <select id="contributeur" name="contributeur"></select><br>

    <label for="localisation">Localisation:</label>
    <select id="localisation" name="localisation"></select><br>

    <label for="souslocalisation">Sous localisation:</label>
    <select id="souslocalisation" name="souslocalisation"></select><br>

    <input type="submit" value="Submit">

</form>
    <script src="/js/scriptcalc.js"></script>

</body>
</html>
