@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');


.Supprimer {
  max-width: 80%;
  width: 70%;
  background: #ffffff;
  color:  #031273;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px #a3c0d2;
  border: 1px solid #E0E8F5;
  overflow: hidden;
  margin-left: 15%;
  margin-top: 3%;
margin-bottom: 2%;
   }
  
   .Supprimer .title{
    padding: 0.1%;
    text-align: center;
    background: #031273;

    font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
  }
 .Supprimer .title p{
  font-size:30px ;
  font-weight: 700;
  color: #E0E8F5;
  font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';

}
  .Supprimer .title_big p{
    font-size: 20px;
    background: #fcfdff;
    color: #031273;
    margin-left: 30px;
    
    font-weight: 500;
    margin-top: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
    text-align: center;
  }
 
  
  
  .Supprimer .but {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    margin-top: -9% ;
    margin-bottom: 3%;
    margin-left: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer; 
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
  }
  
  .Supprimer .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .Supprimer .svgIcon path {
    fill: white;
  }

  .Supprimer .but:hover {
    transition-duration: 0.3s;
    background-color:#ec1515;
    align-items: center;
    gap: 0;
  }
  
  .Supprimer .bin-top {
    transform-origin: bottom right;
  }
  .Supprimer .but:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
  }
  


.Supprimer 
.error__icon {
  width: 20px;
  margin-top: 4%;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
  flex-shrink: 0;
}


.Supprimer .error__icon path {
  fill: #ec1515;

}




  .Supprimer .notifications-container {
    width: 320px;
   margin-left: 30%;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .Supprimer .flex {
    display: flex;
  }

  
 
  
  .Supprimer .success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color:white;
    border: 1px solid #ec1515; 
    margin: 5%;
  }
  
  
  
  .Supprimer .success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .Supprimer  .success-prompt-heading {
    font-weight: bold;
    color:#ec1515;
  }
  
  .Supprimer .success-prompt-prompt {
    margin-top: 0.5rem;
    color: #031273;
  }
  
  .Supprimer .success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .Supprimer .success-button-main {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    background-color:#031273;
    color:white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
  }
  
  .Supprimer .success-button-main:hover {
    background-color: #ec1515;;
    color: white;
  }
  
  .Supprimer .success-button-secondary {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.75rem;
    background-color:white;
    color: #031273;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
  }
  