/* Stylisation du tableau */
.tables-container {
  font-family: 'Montserrat', sans-serif;
}

.tables-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.tables-container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  margin: 20px 0;
}

.tables-container th,
.tables-container td {
  padding: 8px;
  text-align: center;
}

.tables-container th {
  background-color: #a70f0f;
}

.tables-container tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
