

  
  .history-table-container .history-table {
    border-collapse: collapse;
    box-shadow: 0 0.3125rem 3.125rem rgba(0, 0, 0, 0.15); /* 0 5px 50px rgba(0,0,0,0.15) / 16px */
    cursor: pointer;
    font-family: 'Gilroy-Regular';
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
    
    border: 0.125rem solid #031273;
  }
  
  .history-table-container .history-table thead tr {
    background-color: #031273;
    color: #fff;
    text-align: left;
    

  }
  
  .history-table-container .history-table th,  .history-table-container .history-table td {
    padding: 0.9375rem 1.25rem; /* 15px 20px / 16px */
    text-align: center;
    border: 0.125rem solid #031273;
    
  }
  
 .history-table-container .history-table tbody tr,   .history-table td,  .history-table-container .history-table th {
    border: 0.0625rem solid  #E0E8F5; /* 1px solid #E0E8F5 / 16px */
  }
  
  .history-table-container .history-table tbody tr:nth-child(even) {
    background-color: white;
    
  }


  .history-table-container h2{
  text-align: center;
  font-size:30px ;
font-weight: 700;
color:  #031273;
border-radius: 5px;

  font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
}