@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

/*===== VARIABLES CSS =====*/
:root{
    --nav-width: 92px;
  
    /*===== Colores =====*/
    --first-color: #a72929;
    --bg-color: #12192C;
    --sub-color: #ffffff;
    --white-color: #FFF;
    
    /*===== Fuente y tipografia =====*/
    --body-font: 'gilroy', sans-serif;
    --normal-font-size: 1rem;
    --ch_normal-font-size: .900rem;
    --small-font-size: .700rem;
    
    /*===== z index =====*/
    --z-fixed: 100;
  }
  
  
  
  /*===== BASE =====*/
  *,::before,::after{
    box-sizing: border-box;
  }

  .nbar{position: fixed;
    z-index: 10;
    margin: 0; width: 100%;
    position: relative;
    margin: 25px;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    text-align: left;
    position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
  }

 .bar .nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    overflow: hidden;
  }


.bar .Dashboard {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  position: relative; /* Set position to relative */
  column-gap: .75rem;
  border-radius: .5rem;
  cursor: pointer;

}

.bar .Dashboard2 {
  border-radius: .5rem;
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  position: relative; /* Set position to relative */
  column-gap: .75rem;
  cursor: pointer;

}
.bar .Dashboard1 {
  border-radius: .5rem;
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  position: relative; /* Set position to relative */
  column-gap: .75rem;
  cursor: pointer;

}
.bar .Dashboard3 {
 
  column-gap: .75rem;
  border-radius: .5rem;
  cursor: pointer;

}

.bar .Dashboard4 {
  border-radius: .5rem;
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  position: relative; /* Set position to relative */
  column-gap: .75rem;
  cursor: pointer;
  list-style-type: none;

}

.bar .Dashboard3:hover, .bar .Dashboard3.active {
  background-color: #a72929;
}

.bar .Dashboard2 :hover{
  background-color: #a72929;
}
  .bar .sidebar{
    position: fixed;
    transition: .5s;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    height: 100Vh;
    width: 13%;
    background-color: #12192C;
     margin: 0;
    color: #ffffff;
   
  }
  .bar .sidebar1{
    height: 100Vh;
    position: fixed;
    top: 0;
    text-align: left;
    left: 0;
    z-index: var(--z-fixed);
    width: 5%;
    transition: .5s;
    color: #ffffff;
    margin: 0;
    background-color: #12192C;
  }
  
  .bar .main{
    text-align: left;
    margin-right: 50%;
  }
  .bar .sub-menu {
    list-style-type: none;
    padding: 2;
    margin-top: 0;
    top: 100%; /* Position the submenu below the Dashboard */
  }
  
  .bar .sub-menu li {
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .bar .sub-menu li:hover {
    background-color: #700808;
  }
 .bar .icon{
    height: 20px;
    width: 20px;
    cursor:pointer;
    text-align: left;
  }
 .bar ul{
    padding: 15px 0 0 15px;
    list-style: none;
  }
    
 .bar li{
    text-align: left;
    margin-top:16px ;
    font-size: 20px;
    display: flex;
    cursor: pointer;
    display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 0.75rem;
  transition: .3s;
  cursor: pointer;
  }
 .bar h2{
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0 0 10px;
  }
