@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');



  .bar{position: fixed;
   
    margin: 0;
     width: 100%;
    height: 100%;
    font-family:'Proxima Nova Condensed', 'Gilroy-Regular';
    
    
    transition: 0.5s;
    text-align: center;

  
 
  }

a {
    text-decoration: none;
  }
  
  /* Remove the default purple color */
  a:link, a:visited {
    color: inherit; /* Use the color inherited from the parent */
  }
 .bar .nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

.bar .Dashboard {
 
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
 
  
  cursor: pointer;

}
.bar .Dashboard2 {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
 
  
  cursor: pointer;

}.bar .Dashboard :hover{
  color: #e14c31;
  border-radius: 5px;
  padding: 5%;
}
.bar .Dashboard2 :hover{
  color: #e14c31;
  border-radius: 5px;
padding:5px;
}
.bar .item {
 
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  text-align: center;
  font-family:'Proxima Nova Condensed', 'Gilroy-Regular';
  height: 10%;
  font-size: 100%;
 

}
.bar .item2 {
 margin-top: 100%;
 padding-top:50%;
margin-left: 10%;
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  text-align: center;
 
 

}


  .bar .sidebar{
    position: fixed;
    transition: 0.5s;
    text-align: center;
   padding: 0;
    height: 100%;
    width: 14%;
    background-color:#031273;
     margin: 0;
     top: 0;
     bottom: 0;
    color: #ffffff;
   
  }
  .bar .sidebar1{
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    top: 0;
    bottom: 0;
    width: 5%;
    transition: 0.5s;
    color: #ffffff;
    margin: 0;
    background-color:#031273;
  }
  .bar .main{
    text-align: center; 
  cursor: pointer;
width: 100%;
height: 5rem;
  }
  .bar .main1{
    text-align: left;
    cursor: pointer;

  }
  .bar .icon1{
 margin-left: 5%;
margin-top: 15%;
height: 30%;
width: 30%;

  }
  .bar .icon1:hover{
  color: #e14c31;

  padding: 1%;
   
     }
  .bar .icon11{
margin-left: 30%;
height: 40%;
width: 40%;

     }
  .bar .icon2{

   height: 35%;
   width: 35%;
   
     }
     .bar .icon22{
margin-left: 30%;
      height: 40%;
      width: 40%;
      margin-top: 10%;
      padding-top: 10%;
      position: fixed;
        }
 .bar .icon{
    height: 40%;
    width: 40%;
   
  }
.sub-menu {

  padding: 0;
  margin: 5%;
 margin-left: 35%;
 margin-top: 0%;
  left: 0; /* Align the submenu to the left */
  top: 100%; /* Position the submenu below the parent element */

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Box shadow of the submenu */
  
}


  
  .bar .sub-menu li {
    padding: 0;
    list-style-type: none; 
    border: 0.1rem solid #5963A3;
    margin: 3%;
    background-color: white ; /* Background color of the submenu */
    border-radius: 5px; /* Border radius of the submenu */
    color: #e14c31;
    cursor: pointer;
  }
  
  .bar .sub-menu li:hover {
    background-color:  #e14c31;
    color:white;
  }


  .bar button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .bar .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bar .sign svg {
    width: 17px;
  }
  
  .bar .sign svg path {
    fill: white;
  }
  /* text */
  .bar .text1 {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .bar button:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .bar button:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 1px;
  }
  /* hover effect button's text */
  .bar button:hover .text1 {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .bar button:active {
    transform: translate(2px ,2px);
  }