
@import url('https://fonts.cdnfonts.com/css/gilroy-bold'); 
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed'); 


.intro-text .checkBtn {
  display: none;
}

.intro-text #check {
  display: none;
}

.intro-text .checkBtn {
  cursor: pointer;
  font-size: 1.875rem;  /* 30px / 16px */
  float: right;
  color: #031273;
  line-height: 5rem;    /* 80px / 16px */
}

.intro-text {
  position: absolute;
  top: 45%;
  margin: 0;
  z-index: 1;
  left: 20%;  /* 250px / 16px */
  transform: translateY(-50%);
  transform: translateX(3%);
  text-align: center;
}

.intro-text button {
  margin-top: 0.625rem; /* 10px / 16px */
}

.intro-text h1 {
  font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
  color: #fcfdfe;
  font-size: 3.125rem;  /* 50px / 16px */
  margin: 0;
  text-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.562); /* 2px 2px 5px rgba(0, 0, 0, 0.562) / 16px */
  margin-top: 0.625rem; /* 10px / 16px */
}

.intro-text p {
  margin: 3.125rem;  /* 50px / 16px */
  padding-left: 0.9375rem; /* 15px / 16px */
  padding-right: 0.9375rem; /* 15px / 16px */
  padding-top: 0.1875rem; /* 3px / 16px */
  padding-bottom: 0.1875rem; /* 3px / 16px */
  font-weight:bolder;
  color:#031273;
  font-size:1.125rem;
  text-shadow:0.125rem 0.125rem 0.3125rem #ffffff;/* 2px 2px 5px rgba(0, 0, 0, 0.562) / 16px */
  display: inline;
  border-radius: 0.625rem; /* 10px / 16px */
  font-family: 'Gilroy-Regular';
  margin-top: 1.25rem;    /* 20px / 16px */
  margin-bottom: 0.625rem; /* 10px / 16px */
}

.intro-text .btn2 {
  display: inline-block;
  font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
  padding: 0.625rem 3.4375rem; /* 10px 55px / 16px */
  border: 0.125rem solid #e14c31; /* 2px solid #e14c31 / 16px */
  background-color: #ffffff;
  color: #e14c31;
  font-size: 1.25rem;   /* 20px / 16px */
  font-weight: bold;
  padding-left: 2%;
  padding-right: 2%;
  text-transform: uppercase;
  letter-spacing: 0.04rem; /* 0.1em / 16px */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 0.625rem; /* 10px / 16px */
  transition: all 0.3s ease-in-out;
}

.intro-text .btn2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #e14c31;
  opacity: 0.2;
  border-radius: 50%;
  transform: translate  (-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.intro-text .btn2:hover {
  background-color: #e14c31;
  color: white;
  box-shadow: #e14c31;
}

.intro-text .btn2:hover::before {
  width: 200%;
  height: 200%;
}

.intro-text .btn1 {
  display: inline-block;
  font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
  padding: 0.625rem 1.25rem; /* 10px 20px / 16px */
  border: 0.125rem solid #e14c31; /* 2px solid #e14c31 / 16px */
  background-color: #e14c31;
  color: white;
  font-size: 1.25rem;   /* 20px / 16px */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.0625rem; /* 0.1em / 16px */
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 0.625rem; /* 10px / 16px */
  transition: all 0.3s ease-in-out;
}

.intro-text .btn1::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #fff;
  opacity: 0.2;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

.intro-text .btn1:hover {
  background-color: #fff;
  color: #e14c31;
  box-shadow: #e14c31;
}

.intro-text .btn1:hover::before {
  width: 200%;
  height: 200%;
}

@media screen and (max-width: 768px) {
  .intro-text {
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
  }

  .intro-text p {
    font-size: 0.6875rem;  /* 11px / 16px */
    margin: 0.3125rem;    /* 5px / 16px */
  }

  .intro-text h1 {
    font-size: 2.1875rem;  /* 35px / 16px */
  }

  .intro-text .btn1,
  .intro-text .btn2 {
    padding: 0.5rem 0.9375rem; /* 8px 15px / 16px */
    font-size: 1rem;       /* 16px / 16px */
  }
}

