@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');


.Postes .container{
    max-width: 95%;
    width: 100%;
    background: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
                0px 5px 12px -2px rgba(0, 0, 0, 0.1),
                0px 18px 36px -6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 40px;
   }
  
   .Postes .container .title{
    padding: 17px;
    background: #E0E8F5;
    color: #031273;
    font-family: 'proxima-nova-condensed';
  }

  .Postes .user_details{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
  }
  .Postes .title_big p{
    font-size: 20px;
    background: #fcfdff;
    color: #031273;
    margin-left: 30px;
    font-weight: 500;
    margin-top: 30px;
    font-family: 'gilroy';
  }

  .Postes .programming-stats {
    font-family: 'gilroy';
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 1 auto;
    margin-bottom: 40px;
    width: fit-content;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 8px 32px;
    color: #0f2f3f;
    transition: all 400ms ease;
  }
  
  .Postes .programming-stats:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
  
  .Postes .programming-stats .details ul {
    list-style: none;
    padding: 0;
  }
  
  .Postes .programming-stats .details ul li {
    font-size: 16px;
    margin: 12px 0;
    text-transform: uppercase;
  }
  
  .Postes .programming-stats .details .percentage {
    font-weight: 700;
    color: #000000;
  }
  
  /* satat 2222*/
  
  .Postes .programming-stats2 {
    font-family: 'gilroy';
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 1 auto;
    width: fit-content;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 8px 32px;
    color: #0f2f3f;
    transition: all 400ms ease;
  }
  
  .Postes .programming-stats2:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
  
  .Postes .programming-stats2 .details2 ul {
    list-style: none;
    padding: 0;
  }
  
  .Postes .programming-stats2 .details2 ul li {
    font-size: 16px;
    margin: 12px 0;
    text-transform: uppercase;
  }
  
  .Postes .programming-stats2 .details2 .percentage {
    font-weight: 700;
    color: #000000;
  }
  
  /* statt 333*/
  
  .Postes .programming-stats3 {
    font-family: 'gilroy';
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 20 auto;
    margin-top: 189px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 8px 32px;
    color: #0f2f3f;
    transition: all 400ms ease;
  }
  
  .Postes .programming-stats3:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px -7px rgba(0, 0, 0, 0.3);
  }
  
  .Postes .programming-stats3 .details3 ul {
    list-style: none;
    padding: 0;
  }
  
  .Postes .programming-stats3 .details3 ul li {
    font-size: 16px;
    margin: 12px 0;
    text-transform: uppercase;
  }
  
  .Postes .programming-stats3 .details3 .percentage {
    font-weight: 700;
    color: #000000;
  }

  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  
  
  #radio_1:checked ~ .category label .one,
  #radio_2:checked ~ .category label .two,
  #radio_3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #a72929;
  }
  @media screen and (max-width: 584px){
  
    .Postes .user_details{
        max-height: 340px;
        overflow-y: scroll;
    }
  
    .Postes .user_details::-webkit-scrollbar{
        width: 0;
    }
  
    .Postes .user_details .input_box{
        width: 100%;
    }
  }