.page15 {
  background: #f5f6fa;
  display: flex;
  flex-direction: column;

  width: 1300px;
  box-sizing: border-box;
  height: 712px;
}
.sagit {
  position: relative;
  margin: 0 0 34px 15px;
  width: 1200px;
  height: 192px;
}
.sagit1 {
  background: #f5f6fa;
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 222px;
  box-sizing: border-box;
}
.a7 {
  background: #f5f6fa;
  margin-right: 167px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 70px;
}
.frame-427318983 {
  border-radius: 5px;
  background: #e0e8f5;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 9.5px 9px 21px;
  width: 600px;
  box-sizing: border-box;
}
.de-quoi-sagit-it {
  margin-right: 15px;
  width: 500px;
  overflow-wrap: break-word;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.ic-expand-more-48-px {
  margin: 12.7px 0 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 15px;
  height: 9.3px;
  box-sizing: border-box;
}
.frame-427318984 {
  border-radius: 5px;
  background: #e0e8f5;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 7.5px 9.5px 16px;
  width: 600px;
  box-sizing: border-box;
}
.crer-un-nouveau-bilan-de-carbone {
  margin: 0 15px 0.5px 0;
  display: inline-block;
  width: 500px;
  overflow-wrap: break-word;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.ic-add-circle-48-px {
  margin-top: 5.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.frame-427318985 {
  border-radius: 5px;
  background: #e0e8f5;
  padding: 5px 16px 10px 16px;
  box-sizing: border-box;
}
.comparer-les-bilans-carbones-calcules {
  overflow-wrap: break-word;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.rectangleb {
  background: #031273;
  margin: 26.5px 0;
  width: 290px;
  height: 122px;
}
.a8 {
  margin: 0 11px 29px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1204px;
  box-sizing: border-box;
}
.frame-427318966 {
  background: #ffffff;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 83px 8px 0;
  width: 1204px;
  box-sizing: border-box;
}
.frame-4273189709 {
  background: #ffffff;
  position: absolute;
  right: 178px;
  bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 9px 15px 6px 15px;
  width: 190px;
  height: 35px;
  box-sizing: border-box;
}
.a10 {
  margin: 12px 0 8px 0;
  display: flex;
  flex-direction: row;
  width: 75px;
  height: fit-content;
  box-sizing: border-box;
}
.ic-vertical-align-bottom-48-px-11 {
  margin: 3.8px 30px 3.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 22.5px;
  box-sizing: border-box;
}
.vector-12 {
  width: 25px;
  height: 30px;
}
.a201813 {
  margin: 2px 24px 0 0;
  display: inline-block;
  width: 300px;
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 2.4;
  color: rgba(0, 0, 0, 0.35);
}
.a14 {
  margin-top: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 2.4;
  color: rgba(0, 0, 0, 0.43);
}
.t-kg-co-2-e-15 {
  position: relative;
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 19px;
  line-height: 2.526;
  color: rgba(0, 0, 0, 0.37);
}
.frame-427318981 {
  background: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 80px 8px 0;
  width: 1204px;
  box-sizing: border-box;
}

.a17 {
  margin: 12px 0 8px 0;
  display: flex;
  flex-direction: row;
  width: 75px;
  height: fit-content;
  box-sizing: border-box;
}
.ic-vertical-align-bottom-48-px-18 {
  margin: 3.8px 30px 3.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 22.5px;
  box-sizing: border-box;
}
.vector-19 {
  width: 20px;
  height: 20px;
}
.vector-20 {
  width: 20px;
  height: 22.5px;
}
.vector-21 {
  width: 15px;
  height: 9.3px;
}
.vector-22 {
  width: 25px;
  height: 25px;
}
.vector-23 {
  width: 20px;
  height: 20px;
}
.vector-24 {
  width: 20px;
  height: 22.5px;
}
.vector-25 {
  width: 20px;
  height: 20px;
}
.vector-26 {
  width: 20px;
  height: 22.5px;
}
.page15 .ligne2 {
  background: #ffffff;
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 26.8px 15px 21px;
  width: 1200px;
  box-sizing: border-box;
  margin-left: 40px;
}
.page15 .frame-427318970 {
  background: #ffffff;
  position: relative;
  width: 270px;
  height: 35px;
  margin-left: 20px;
}
.aaaaa {
  position: absolute;
  left: 88px;
  bottom: -9.5px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 2.4;
  color: rgba(0, 0, 0, 0.35);
}
.frame-4273189701 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 0 14px 0;
  width: 381px;
  height: fit-content;
  box-sizing: border-box;
}
.page15 .email {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.36);
}

.admin {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.39);
}
.ic-person-48-px {
  margin: 5.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23.3px;
  height: 23.3px;
  box-sizing: border-box;
}
.ic-forward-48-px {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.frame-4273189703 {
  background: #ffffff;
  position: relative;
  width: 270px;
  height: 35px;
  margin-left: 20px;
}
.aaaaa {
  position: absolute;
  left: 88px;
  bottom: -9.5px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 2.4;
  color: rgba(0, 0, 0, 0.35);
}
.frame-4273189705 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 0 14px 0;
  width: 381px;
  height: fit-content;
  box-sizing: border-box;
}
.email-6 {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.36);
}
.frame-4273189707 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 13px 30px 12px 0;
  width: 190px;
  height: fit-content;
  box-sizing: border-box;
}
.admin-8 {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.39);
}
.ic-person-48-px-9 {
  margin: 5.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23.3px;
  height: 23.3px;
  box-sizing: border-box;
}
.ic-forward-48-px-10 {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}

.frame-42731897012 {
  background: #ffffff;
  position: relative;
  width: 270px;
  height: 35px;
  margin-left: 20px;
}
.aaaaa {
  position: absolute;
  left: 88px;
  bottom: -9.5px;
  overflow-wrap: break-word;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 2.4;
  color: rgba(0, 0, 0, 0.35);
}
.frame-42731897014 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 0 14px 0;
  width: 381px;
  height: fit-content;
  box-sizing: border-box;
}
.email-15 {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.36);
}
.frame-42731897016 {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 13px 30px 12px 0;
  width: 190px;
  height: fit-content;
  box-sizing: border-box;
}
.admin-17 {
  overflow-wrap: break-word;
  font-family: "Gilroy-Regular", "Roboto Condensed";
  font-weight: 400;
  font-size: 20px;
  line-height: 0.5;
  color: rgba(0, 0, 0, 0.39);
}
.ic-person-48-px-18 {
  margin: 5.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 23.3px;
  height: 23.3px;
  box-sizing: border-box;
}
.ic-forward-48-px-19 {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
.page15 .ligne1 {
  border-radius: 10px 10px 0 0;
  background: #e0e8f5;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 17px 0 18px 0; */
  padding: 15px 26.8px 15px 21px;
  box-sizing: border-box;
  width: 1200px;
  height: 60px;
  align-items: center;
  margin-left: 40px;
}
.avancement {
  overflow-wrap: break-word;
  margin-left: 0px;
  padding: 11px 20px 14px 20px;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  width: 381px;
  text-align: center;
}
.emissions {
  margin-bottom: 1px;
  margin-left: 20px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  width: 150px;
}
.actions {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  width: 150px;
  text-align: center;
}
.annee {
  margin: 0.5px 14.5px 0.5px 0;
  display: inline-block;
  width: 270px;
  height: 35px;
  overflow-wrap: break-word;
  font-family: "Proxima Nova Condensed", "Roboto Condensed";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
  text-align: center;
}
.expand_more {
  font-size: 30px;
  margin-top: 2px;
}
.plus {
  font-size: 20px;
  margin: 7px;
}
.page15 .top-bar {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
  background: #ffffff;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 81px 22px 36.3px;
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  margin-bottom: 50px;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.page15 .container-4 {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  box-sizing: border-box;
}
.page15 .rectangle-4137 {
  border-radius: 50px;
  background: #031273;
  width: 30px;
  height: 30px;
}
.page15 .menu {
  font-size: 40px;
  margin-top: 0px;
  color: #031273;
}
.page15 .container-4 {
  margin: 10px 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  box-sizing: border-box;
}
.page15 .earth {
  font-size: 25px;
  margin-top: 2px;
  color: #4ca950;
}
.page15 .not {
  font-size: 25px;
  margin-top: 2px;
}
