
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');


.Avancement_exmp {
    max-width: 90%;
    width: 100%;
    background: #ffffff;
    color:  #031273;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px #a3c0d2;
    border: 1px solid #4CA950;
    overflow: hidden;
    margin-left: 5%;
    margin-top: 3%;
    
}
  
.Avancement_exmp p{
font-weight: 600;
font-size: 30px;
 align-items: center;
 text-align: center;
  margin-top: 3%;
 
  font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
}
 

  .Avancement_exmp .meter-container {
    width: 50%;
    height: 50%;
   margin-left: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 2%;
    border: 1px solid #4CA950;
    box-shadow: 0 4px 12px -2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: grid;
    place-items: center;
  }/* Cibler le conteneur du speedomètre */
.Avancement_exmp .react-speedometer-container {
  margin: 0; /* Définit la marge à zéro */
  padding: 0; /* Définit le rembourrage à zéro */
  margin-bottom: 0; 
}

.Avancement_exmp .value-container {
  position: relative;
  font-family: 'Proxima Nova Condensed', 'Gilroy-Regular';
  font-weight: 600;
  padding: 0;
  margin-top: -130px; /* Ajoutez la marge supérieure souhaitée */
  margin-bottom: 2%; /* Ou ajoutez la marge inférieure souhaitée */
  padding: 0;
  font-size: 35px;
}


  @-moz-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @-webkit-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @-o-keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
  @keyframes wave-4 {
    50% {
      transform: scale(0.9);
    }
  }
  
